* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sofia", sans-serif;
    list-style: none;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(h.png);
    background-size: 100%;
    background-position: center;
    position: absolute;
    line-height: 75px;
    padding: 0px 80px;

}

.hero h1 {
    width: 5%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(6, 6, 6);
    width: 100px;
    cursor: pointer;
    font-family: "Audiowide", sans-serif;
}

.navbar {
    background-color: rgb(118, 190, 167);
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px #333;

}

.navbar ul li a {
    text-decoration: none;
    color: rgb(6, 6, 6);
    font-size: 25px;
    text-transform: uppercase;
    padding: 0px 7px;
}

.navbar ul li {
    list-style: none;
    display: inline-flex;
    padding: 15px 30px;
    margin: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #eee;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;

}

.navbar ul li::after {
    content: '';
    background: rgb(95, 152, 117);
    width: 100%;
    height: 100%;
    border-radius: 40px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

.navbar ul li a:hover {
    cursor: rgb(58, 61, 54);
}

.navbar ul li:hover::after {
    top: 50%;
    opacity: 1;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(98, 159, 121);
    border-radius: 40px;
    padding: 12px 34px;
    font-size: 43px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-family: "Audiowide", sans-serif;
}

.btn:hover {
    transform: scale(1.2);
    background-color: rgb(106, 177, 110);
    color: white;
}

.text-box {
    width: 90%;
    color: black;
    position: absolute;
    /* top: 50%; */
    margin-top: 550px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 35px;
    color: #333;
}

@media(max-width:700px) {
    .text-box h1 {
        font-size: 10px;
    }

    .btn {
        font-size: 35px;
    }

    .navbar ul li {
        display: block;
    }

    .navbar {
        list-style: none;
        display: block;
        display: top;
        padding: 15px 30px;
        margin: 10px;
        font-size: 15px;
        cursor: pointer;
        position: relative;
        z-index: 2;
        transition: color 0.5s;

    }

}







.about {
    width: 100%;
    padding: 78px 0px;
    background-color: rgb(72, 124, 92);
    background-image: url(h.png);
    background-size: cover;
    background-position: center;
    position: absolute;
}

.about img {
    height: auto;
    width: 420px;
}

.about-text {
    width: 550px;
}

.main {
    width: 11130px;
    max-width: 95%;
    margin: 1px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 1px;
}

.about-text h2 {
    color: rgb(8, 8, 8);
    font-size: 90px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h3 {
    color: rgb(2, 98, 15);
    font-style: 30px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    margin: 2px;
    font-size: 80px;
}

span {
    color: rgb(31, 65, 44);
    font-size: 80px;
}

.about-text p {
    color: rgb(6, 6, 6);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 40px;
    margin-bottom: 45px;
    font-family: "Trirong", serif;
}

button {
    background-color: rgb(108, 188, 139);
    color: rgb(6, 6, 6);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    font-size: 35px;
}

button:hover {
    background: white;
    border: 2px solid rgb(10, 10, 10);
    cursor: pointer;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url(h.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
}

.content-sec .card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-sec .card {
    float: 1;
    margin: 20px 20px;
    box-shadow: 0px 2px 8px 0px #332;
}

.content-sec .card img {
    width: 50%;
    height: auto;
}

.content-sec .card h1 {
    margin: 15px 0px;
    font-size: 28px;
    color: rgb(4, 121, 119);
    font-family: "Sofia"
}

.content-sec .card p {
    font-size: 17px;
    line-height: 1.5;
    padding: 0px 10px;
    margin-bottom: 20px;
}

.view {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(156, 223, 156), rgb(156, 223, 156));
    position: relative;
    padding: 0 5%;
    align-items: center;
    justify-content: center;
}

.back-video {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio:16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio:9/16) {
    .back-video {
        width: auto;
        height: 100%;
    }
}